<div class="container">
    <footer class="footer">
        <small>
            Copyleft <span class="copyleft">&copy;</span> <a href="https://www.blackle.com">Blackle over Google</a>
            by <a href="https://www.facebook.com/lepazandro">Leandro Paz</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to 'About', about_path %></li>
            </ul>
        </nav>
    </footer>
</div>